/*FONTS WE CAN USE
font-family: 'Raleway', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Cinzel', serif;
font-family: 'Tinos', serif;
font-family: 'VT323', monospace;
font-family: 'Dancing Script', cursive;
*/



/* 
========================================== 
Base Settings
========================================== 
*/

.placeholder {
    display: block;
    height: 500px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* 
========================================== 
END Base Settings
========================================== 
*/

#about {
    transition: 1s;
    -webkit-transition: 1s;
}


/* 
========================================== 
Top Bar
========================================== 
*/



/* 
========================================== 
Banner
========================================== 
*/

.bannerContainer {
    display: block;
    position: relative;
    height: 100vh;
    width: 100%;
    border-radius: 0 0 0 0;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit background-size: cover;
    moz background-size: cover;
    background-position: center 30%;
    background-attachment: fixed;
    z-index: auto;
}

.bannerContainer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20vh;
    z-index: 1;
    padding-right: 2vw;
}


.bannerContainer h2 {
    display: block;
    font-family: 'Cinzel', serif;
    color: #efefef;
    font-size: 30px;
    padding-top: 5vh;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



.menu {
    display: grid;
    grid-template-columns:  30% 30% 40%;
    grid-template-rows:  50% 50%;
    column-gap: 10px;
  row-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    Height: 300px;
    padding-top: 3vh;
    width: 800px;
}

.menu i {
    display: block;
    font-size: 35px;
    width: auto;
    color: rgb(224, 224, 224);
    padding-bottom: 5px;
}

.menu h1 {
    display: block;
    width: auto;
    text-align: center;
    font-size: 25px;
    font-family: 'Cinzel', serif;
    color: rgb(224, 224, 224);
}

#smallLinkBoxA, #smallLinkBoxB, #smallLinkBoxC, #smallLinkBoxD, #largeLinkBox {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    border: 1px solid silver;
    background-color: #2e2e2ea4;
    line-height: 1.2;
    border-radius: 5px;
}

#smallLinkBoxA {
    grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
} 

#smallLinkBoxB {
    grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
} 

#smallLinkBoxC {
    grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
} 

#smallLinkBoxD {
    grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
} 

#largeLinkBox {
    grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}



/* 
========================================== 
END Banner
========================================== 
*/
/* 
========================================== 
Beat Store
========================================== 
*/
.beatStoreContainer {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    background: rgb(231, 231, 231);
    background: radial-gradient(circle, rgba(231, 231, 231, 0.2497373949579832) 0%, rgba(198, 198, 198, 0.25) 100%);
    border-top: 1px outset #37474F;
    border-bottom: 1px outset #37474F;
    z-index: 0;
    overflow: hidden;
}



.beatStoreContainer>h1,
h2,
p {
    position: relative;
    color: aliceblue;
    text-align: center;
    z-index: 1;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transition: 1s;
    -webkit-transition: 1s;
}



.beatStoreContainer P {
    color: white;

}

.beatStoreContainer iframe {
    display: block;
    width: 100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    transition: .5s;
    -webkit-transition: 1s;
    /* border-top: 2px inset black;
    border-left: 2px inset black;
    border-right: 2px inset black; */
}

#beatLoad1 {
    display: none;
}

#beatLoad2 {
    display: none;
}
/* 
========================================== 
END Beat Store
========================================== 
*/


.footerContainer {
    height: 0px;
    width: 100%;
    background: #3d3d3d;
    border-top: 1px solid black;
}
